* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}
header {
  display: none; 
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #ddd;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  padding: 20px;
}

.flex-container > div:first-child {
  flex: 25%;
}

.flex-container > div:nth-child(2) {
  flex: 50%;
}

.flex-container > div:last-child {
  flex: 25%;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
